{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettierx"],
  "ignorePatterns": ["dist/**/*", "**/*.test.ts", "example.ts"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettierx/default"
  ],
  "rules": {
    "quotes": ["error", "double"],
    "indent": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "comma-dangle": ["error","never"]
  }
}
